/* Variables allows you to use re-usuable values and allow u use them throughout your stylesheet 
note root target the HTML level of our code
:root{
    --name-of-variable: value;
}

selector{
    property:var(--name-of-variable)
}

    advantage of variables: resusability, modular, flexibility, dynamic 

    naming convention
    - meaningful names
    - Use lower case Letters and hyphens
    - be Consistent
    - use a prefix

    Difference between Global Variable and Local Variable

    Nested Variables and its benefits
 */

:root {
  /* typography */
  --font-family: Tahoma, Verdana, sans-serif;
  --primary-font: serif;
  --primary-color: #0b8798;
  --base-font-size: 16px;

  /* colors */
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --accent-color: #ffc107;
  --accent-color-bright: #ee9b00;
  --accent-color-dark: #ae2012;
  --border-color: #dee2e5;
  --border-radius: 6px;
  --tertiary-color: #94d2bd;
  --neutral-color: #6c7576;

  --header-bg-color: var(--tertiary-color)
  --header-text-color: var(--primary-color)

  /* sizing */
  --border-radius: 6px;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--secondary-color);
}
h1 {
  color: var(--primary-font);
  margin-top: 20px;
}
h2 {
  color: var(--secondary-color);
  margin-top: 5px;
}
.container {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}

.container h2 {
  --bg-color: #62b8c3;
  background-color: var(--bg-color);
  color: var(--bg-color);
}

.btn {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--background-color);
  cursor: pointer;
  padding: 6px 12px;
  transition: var(--background-color) 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--accent-color);
}
